.white-text {
  -fx-text-fill: white;
}

.button {
  -fx-background-color: #503298;
  -fx-text-fill: #ffffff;
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-background-radius: 5px;
  -fx-padding: 5px 10px;
}

.button:hover {
  -fx-background-color: #3c2671;
  -fx-text-fill: #ffffff;
  -fx-cursor: hand;
}

#title {
  -fx-font-size: 24px;
  -fx-font-weight: bold;
  -fx-text-alignment: center;
  -fx-fill: #fff;
  -fx-alignment: center;
}

#background {
  -fx-background-color: #191919;
}

#center {
  -fx-alignment: center;
  -fx-spacing: 20px;
}

#top {
  -fx-alignment: center;
  -fx-padding: 20px;
  -fx-text-alignment: center;
  -fx-spacing: 30px;
  -fx-background-color: #633dc0;
}

#headercontainer {
  -fx-alignment: center;
  -fx-padding: 20px;
  -fx-text-alignment: center;
  -fx-spacing: 30px;
  -fx-background-color: #633dc0;
}

#totalPriceText {
    -fx-fill: white;
}


#order {
    -fx-background-color: #333333;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

#orderitem {
    -fx-fill: white;
}

#cashCheckBox, #visaCheckBox {
    -fx-text-fill: white;
}
